body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1128px;
  margin-left: 15px;
  margin-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid tomato; */
}

:root {
  --main-title-color: #2E2F42;
  --main-text-color: #434455;
  --page-nave-color: #2E2F42;
  --contacts-color: #434455;
  --hover-color: #404BBF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* header */
.logo {
  margin-right: 76px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}

.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list {
  display: flex;

}

.header-item:not(:last-child) {
  margin-right: 40px;
}


.page-header {

  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--page-nave-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--contacts-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--hover-color);
}

.address {
  font-style: normal;
}

/* main class hero */

.hero-container {
  flex-grow: 1;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero {
  background-color: #2E2F42;
}

.hero-title {
  width: 494px;
  margin: 0 auto;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
}


.modal-btn {
  display: block;
  margin: 0 auto;
  height: 56px;
  padding: 16px 32px;


  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #4D5AE5;
  cursor: pointer;
  border-radius: 4px;
}

.modal-btn:hover {
  color: #FFFFFF;
  background-color: var(--hover-color);

}



/* ===========ABOUT ==========*/

/* .about {
  background-color: #2e2f42;
} */

.about-list {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-item {
  width: 264px;
}

.about-item:not(:last-child) {
  margin-right: 24px;
}

.about-title-main {
  text-align: center;
  color: #FFFFFF;
}

.about-title {
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.about-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/*========== DIRECTIONS============*/

.directions-title {
  margin-bottom: 72px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}

.directions-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.directions-item {
  width: calc((100% - 48px) / 3);
}

/* ===========TEAM=========== */

.team-title {
  padding-top: 120px;
  padding-bottom: 72px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}

.team-list {
  padding-bottom: 120px;
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
}

.team-title-bottom {
  padding-top: 32px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);

}

.team-text {
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* ===========FOOTER=========== */

.footer {
  background-color: var(--page-nave-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.logo-footer {

  padding-top: 100px;
  margin-bottom: 16px;
}

.footer-text {
  padding-bottom: 100px;
  width: 262px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #E7E9FC;

}